.profile__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 879px) {
    .profile__wrapper {        
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}