.login__input {
    color: #fff;
    display: block;
    width: 358px;
    background-color: black;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 13px 0;
    margin-bottom: 5px;
    margin-bottom: 30px;
}

.login__input:focus {
    outline: 1px solid #FFFFFF;
}